{% extends "base.html" %}
{% block content %}
	<script type="text/javascript" src="/static/js/logout.js?v=0.0.9"></script>
	<script type="text/javascript" src="/static/js/newpractice.js?v=0.1.8"></script>


	<h1>Logged in as {{user[0]['firstname']}} {{user[0]['lastname']}}</h1>

	<a href="{{url_for('main.main_route', username = user[0]['username'])}}"
				id="nav_home">
	<botton>Back to Home</botton></a><br><br>
    
    <a href="{{url_for('user.user_edit_route',username = user[0]['username'])}}" id="nav_edit">
		Edit Account
	</a><br>
	<br>
	<a href="{{url_for('albums.albums_route')}}" id = "nav_albums">
		My Albums
	</a><br>
	<br>
	<a href="" onclick="logout()" id = "nav_logout">
		Log Out
	</a><br>
	<br><br><br>

	<div id="content">
		
	</div>






	<strong>
		This is your own albums
	</strong><br><br>
	{% for item in Albums %}
		<div>
			<a href="{{url_for('album.album_route', albumid = item.albumid)}}"  id="album_{{item.albumid}}_link">
			{{item.title}}
			</a>
		</div><br>
	{% endfor %}
	<br><br><br>




	<strong>
		This is the albums which you have been granted access to by the owner
	</strong><br><br>
	{% for item in other_albums %}
		<div>
			<a href="{{url_for('album.album_route', albumid = item.albumid)}}"  id="album_{{item.albumid}}_link">
			{{item.title}}
			</a>

		</div><br>
	{% endfor %}
	<br>




	<strong>
		This is the public albums
	</strong><br>
	{% for items in AlbumPublic %}
		<br>
		<a href="{{url_for('album.album_route', albumid=items['albumid'])}}" id="album_{{items.albumid}}_link">
				{{items['title']}}
		</a><br>
	{% endfor %}
	<br><br><br>






	<footer>EECS 485 PROJECT 3 CREATED BY GROUP 19</footer>
{% endblock %}